<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">

    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='site_images/favicon.ico') }}" rel="shortcut icon">
    <script>
function outputUpdate(score) {
    document.querySelector('#selected-ent-score').value = score;
}

function outputStyleUpdate(score) {
    document.querySelector('#selected-style-score').value = score;
}

    </script>
    {% if data is defined %}
    {% if data.get('title') is defined %}
    <title>TweestMasters- {{ data.get("title") }}</title>
    {% else %}
    {% endif %}
    <title>TweestMasters</title>
    {% endif %}
</head>
<body class="container-fluid">
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="{{ url_for('main.home') }}">
                <img alt="Flower" class="rounded"
                     src="{{ url_for('static', filename='raven_tn.jpg')}}" title="White Flower">
            </a>
            <a class="navbar-brand mr-1" href="{{ url_for('main.home') }}">TweestMasters</a>
            <button aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-target="#navbarToggle" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                {% if current_user.is_authenticated %}
                <!-- Navbar Right Side -->
                <div class="navbar-nav ml-auto">

                    {#
                    <a class="nav-item nav-link"
                       href="{{ url_for('tweests.new_tweest', article_id=session.get('current_article_id', 1)) }}">Create
                        Tweest</a>
                    #}
                    <a class="nav-item nav-link"
                       href="{{ url_for('users.user', id=current_user.id) }}">My Catalog</a>
                    <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a>
                </div>
                {% else %}
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link getclass" href="{{ url_for('main.get_started') }}">Get Started</a>
                </div>
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="{{ url_for('users.login')  }}">Login</a>
                    <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>

    </nav>
</header>

{% block title %}
{% endblock %}
<main class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div>{% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>

                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            <div>
                {% block main_header %}
                {% endblock %}

                {% block main_content %}
                {% endblock %}

            </div>
        </div>

        <div class="col-md-4">
            <div>

                {% block sidebar_header %}
                {% endblock %}

                {% block sidebar_main %}
                {% endblock %}

            </div>
        </div>
    </div>
</main>

<footer>
    {% block footer %}
    {% endblock %}
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>



