<div class="container">
    <div class="">
        <h5>Explore other forums<span class="pt-4 float-right article-sm-font">(tweests, members, articles)</span></h5>
        <hr>
</div>



    <div>
        {% for forum in data['forums'] %}
        <div class="p-1 mb-1" style="background-color:#dddddd;">
            <div class="row">
                <h6 style="line-height:1;" class="col-md-12">{{ forum.name }} <span class="article-sm-font"> {{ forum.description }}</span></h6>
            </div>
            <div class="row article-sm-font">
                <div class="col-md-4 pl-4">created: {{ forum.date_created.strftime('%m-%d-%y') }}</div>
                <div class="col-md-4 text-center"><a class="article-sm-font" href="{{ url_for('forums.show', id=forum.id)}}">explore</a></div>
                <div class="col-md-4 text-right pr-4">({{ forum.tweests|count }}, {{ forum.users|count }}, {{ forum.articles|count }})
                </div>
            </div>
        </div>
        {% endfor %}
        <div>
            <a class="article-sm-font" href="{{ url_for('forums.all_forums') }}">View all</a>
        </div>

    </div>


</div>