<div>
    <h4>More articles in {{ data['current_forum_name'] }}</h4>
    {% for each in data['art_auth'] %}
    {% if each[0].title %}
    <div class="container" style="background-color:#dddddd;">
        <div class="row">
            <div class="col-sm-8" >
                <a style="color:#444444;" href="{{ url_for('articles.article', id=each[0].id)}}">{{ each[0].title
                    }}</a><span class="article-sm-font"> ({{ each[2] }})</span>
            </div>
            <div class="col-sm-4" >
                <span class="article-sm-font float-right">{{ each[1] }} on {{ each[0].date_created.strftime('%m-%d-%Y') }}</span>
            </div>
        </div>
    </div>
    {% else %}
    <h4>booger</h4>
    {% endif %}
    {% endfor %}
</div>
