<div class="p-1" style="background-color:#cccccc;">
    <div class='text-muted'>Hmmm...</div>

    <div class="list-group">
        <ul>
            <li class="list-group-item list-group-item-light"><a href="#">Most Popular Articles</a></li>
            <li class="list-group-item list-group-item-light">Most Popular tweests</li>
            <li class="list-group-item list-group-item-light">Most followed Forums</li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('main.links') }}">Writing Improvement
                Links</a></li>
            <li class="list-group-item list-group-item-light">wildcard</li>
        </ul>
    </div>
</div>