{% extends 'layout-basic.html' %}
{% block main_content %}
<div class="text-center">
    <h3 class=" mb-2 ">{{ data["article"].title }}</h3>
</div>
{% include "sub/view_article.html" %}
<hr>
<hr>
<hr>
{% include "sub/all_tweests_for_an_article.html" %}
{% endblock %}
{% block sidebar_header %}
{% include "sub/stats_div.html" %}
{% include "sub/all_articles_for_a_forum.html" %}
{% endblock %}


{% block sidebar_main %}
<div class="p-3"></div>
<div class="content-section">
    <p class='text-muted'>Great Stuff</p>
    <ul class="list-group">
        <li class="list-group-item list-group-item-light">Most Popular Articles</li>
        <li class="list-group-item list-group-item-light">Most Popular tweests</li>
        <li class="list-group-item list-group-item-light">Most followed Forums</li>
        <li class="list-group-item list-group-item-light">wildcard</li>
    </ul>

</div>
{% endblock %}

