{% extends "layout-basic.html" %}


{% block main_header %}
{% endblock %}


{% block main_content%}
<div>
  <h4>{{ data['title'] }}'s: Home Page</h4>
</div>
<hr>
<div>
  {% if data['lengths'][0] > 0 %}
  <h5>Articles</h5>
  <hr>
  {% for article in data['articles'] %}
  <article class="media content-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-1">
          <a class="mt-2 float-left" href="{{ url_for('articles.article', id=article.id) }}">
            <img class="user-mc-article-image rounded"
                 src="{{ url_for('static', filename='article_images/' + article.pics[0].uri) }}"></a>
        </div>
        <div class="col-sm-9">
          <strong class="article-title-md">
            <a class="mt-2 float-left" href="{{ url_for('articles.article', id=article.id) }}" style="color:#333333;">{{
              article.title }}
            </a>
          </strong>
        </div>
        <div class="col-sm-2">
          <small class="text-muted article-sm-font">
            <span>posted on <span>{{ article.date_created.strftime('%Y-%m-%d') }}</span></span>
          </small>
        </div>
      </div>
      <div class="row">
        <textarea class="article-content mb-0" cols="800" rows="5">{{ article.content }}</textarea>
      </div>
    </div>
  </article>
  {% endfor %}
  {% endif %}
  {% if data['lengths'][1] > 0 %}
  <h5>Tweests</h5>
  {% for tweest in data['tweests_and_pics'] %}
  <article class="media content-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-1">
          <img class="user-mc-article-image rounded"
               src="{{ url_for('static', filename='article_images/' + tweest[1]) }}">
        </div>
        <div class="col-sm-9">
          
          <strong class="article-title-md">
            <a class="mt-2 float-left" href="{{ url_for('tweests.tweest', id=tweest[0].id) }}" style="color:#333333;">{{
              tweest[0].title }}
            </a>
          </strong>
        
        </div>
        <div class="col-sm-2">
          <small class="text-muted float-right" style="font-size:10px;">
            <span>posted on <span>{{ tweest[0].date_created.strftime('%Y-%m-%d') }}</span></span>
          </small>
        </div>
      </div>
      <div class="row">
        <textarea class="article-content mb-0" cols="800" rows="3">{{ tweest[0].content }}</textarea>
      </div>

    </div>
  </article>
  
  
  {% endfor %}
  {% endif %}
  {% if data['lengths'][2] > 0 %}
  <hr>
  <h5>Reviews</h5>
  {% for review in data['reviews'] %}
  <article class="media content-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <img class="mc-home-user_image"
               src="{{ url_for('static', filename='article_images/index1.jpg') }}">boogers
        </div>
        <div class="col-sm-10">
          
          <strong class="article-title-md">
            <a class="mt-2 float-left" href="{{ url_for('tweests.tweest', id=1) }}" style="color:#333333;">{{
              review.title }}
            </a>
          </strong>
        
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <a class="article-sm-font float-left" href="{{ url_for('users.user', id=1) }}"> username </a>
        </div>
      
      </div>
      <div>
        <p class="article-content mb-0">{{ review.content }}</p>
      </div>
      <div>
        <small class="text-muted float-right" style="font-size:10px;">
          <span>posted on <span>{{ review.date_created.strftime('%Y-%m-%d') }}</span></span>
        </small>
      </div>
    </div>
  </article>
  {% endfor %}
  {% endif %}
  {% endblock %}
  
  
  {% block sidebar %}
  {#
  <div>
    <h5>User stats</h5>
    <div>date joined: {{ user.date_created }}</div>
    <div>Number of Articles:</div>
    <div>Number of Tweests: ()</div>
    <div>Number of Reviews:</div>
    <div>Number of Forums: 0:::: refactor!!!!</div>
  </div>
  <hr>
  <div class='text-muted'>Great Stuff</div>
  <ul class="list-group">
    <li class="list-group-item list-group-item-light">Most Popular Articles</li>
    <li class="list-group-item list-group-item-light">Most Popular tweests</li>
    <li class="list-group-item list-group-item-light">Most followed Forums</li>
    <li class="list-group-item list-group-item-light">wildcard</li>
  </ul>
</div> #}
{% endblock %}
