{% extends "layout-basic.html" %}


{% block main_content %}
<div>
    <div><img class="rounded-circle article-img" src="{{ data['image_file'] }}">
        <span class="headline">{{ data['poi_username'] }}'s: Home Page</span>
    </div>
</div>
<hr>
{% if data['lengths'][0] > 0 %}
<h5>Articles</h5>

{% for article in data['articles'] %}
<article class="media content-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                <a class="float-left" href="{{ url_for('articles.article', id=article.id) }}">
                    <img class="user-mc-article-image rounded"
                         src="{{ url_for('static', filename='article_images/' + article.pics[0].uri) }}"></a>
            </div>
            <div class="col-sm-9">
                <strong class="article-title-md ml-3 ">
                    <a class="" href="{{ url_for('articles.article', id=article.id) }}"
                       style="color:#333333;">{{
                        article.title }}
                    </a>
                </strong>
            </div>
            <div class="col-sm-2">
                <small class="text-muted article-sm-font">
                    <span>posted on <span>{{ article.date_created.strftime('%Y-%m-%d') }}</span></span>
                </small>
            </div>
        </div>
        <div class="row">
            <textarea class="article-content mb-0" cols="800" rows="5">{{ article.content }}</textarea>
        </div>
    </div>
</article>
{% endfor %}
{% endif %}
{% if data['lengths'][1] > 0 %}
<h5>Tweests</h5>
{% for tweest in data['tweests_and_pics'] %}
<article class="media content-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                <a class="float-left" href="{{ url_for('tweests.tweest', id=tweest[0].id) }}">
                    <img class="user-mc-article-image rounded"
                         src="{{ url_for('static', filename='article_images/' + tweest[1]) }}"></a>
            </div>
            <div class="col-sm-9">
                <strong class="article-title-md ml-3">
                    <a class="" href="{{ url_for('tweests.tweest', id=tweest[0].id) }}"
                       style="color:#333333;">
                        {{ tweest[0].title }}
                    </a>
                </strong>
            </div>
            <div class="col-sm-2">
                <small class="text-muted float-right" style="font-size:10px;">
                    <span>posted on <span>{{ tweest[0].date_created.strftime('%Y-%m-%d') }}</span></span>
                </small>
            </div>
        </div>
        <div class="row">
            <textarea class="article-content mb-0" cols="800" rows="3">{{ tweest[0].content }}</textarea>
        </div>

    </div>
</article>


{% endfor %}
{% endif %}
{% if data['lengths'][2] > 0 %}
<hr>
<h5>Reviews</h5>
{% for reviewtt in data['rev_tt_tup'] %}
<article class="media content-section">
        <div class="headline">
            {{ reviewtt[1] }}
        </div>
        <div>
            <p class="article-content mb-0">{{ reviewtt[0].content }}</p>
        </div>
        <div>
            <small class="text-muted float-right" style="font-size:10px;">
                <span>posted on <span>{{ reviewtt[0].date_created.strftime('%Y-%m-%d') }}</span></span>
            </small>
        </div>
</article>
{% endfor %}
{% endif %}
{% endblock %}

{% block sidebar_header %}
{% include "sub/stats_div.html" %}
{% include "sub/user_stats.html" %}
{% endblock %}

{% block sidebar_main %}
<div class="mt-4 mb-4">
</div>
<div class="pt-2">
    {% if current_user.id == data['poi_id']%}
    <div><a class="" href="{{ url_for('forums.new') }}">
        <button class="btn btn-secondary" onclick="">create forum</button>
    </a>
        <a href="{{ url_for('articles.new_article') }}">
            <button class="btn btn-secondary create_acct_btns" onclick="">create article</button>
        </a>
        <a href="{{ url_for('users.edit_account', id=current_user.id) }}">
            <button class="btn btn-secondary" onclick="">edit profile</button>
        </a>
    </div>
    {% endif %}
</div>
<div>
{% include "sub/myforums.html" %}
    <div class="mb-3"></div>
{% include "sub/sidebar_links.html" %}
</div>
{% endblock %}s
