{% extends "layout-basic.html" %}

{% block main_header %}
<div>
    <span class="pl-2 headline">Today's feature article</span>

</div>

{% include "sub/view_article.html" %}
{% endblock %}


{% block main_content %}
{% include "sub/all_tweests_for_an_article.html" %}
{% endblock %}


{% block sidebar_header %}
{% include "sub/stats_div.html" %}
{% include "sub/all_articles_for_a_forum.html" %}
<div class="pt-4 pb-4"></div>
{% include "sub/all_forums.html" %}
<div class="pt-4 pb-4"></div>
{% endblock %}

{% block sidebar_main %}
<div class="m-4"></div>
{% include "sub/sidebar_links.html" %}
{% endblock %}
<!--
<div class="content-section">
  {% if data['filter']=='articles' %}
  <form method="POST">
    <label class="radio-inline">
      <input name="radio" onclick="this.form.submit()" type="radio" value="forums"/>Forums
    </label>
    <label class="radio-inline">
      <input checked name="radio" onclick="this.form.submit()" type="radio" value="articles"/>Articles
    </label>
  </form>

  {% for each in data['sidebar_articles'] %}
  <article class="content-section article-md-font">
    <div class="text-center article-lg-font">
      <a href="{{ url_for('articles.article',id=each[0].id) }}">{{ each[0].title }}</a>
    </div>
    <hr>
    <div class="article-sm-font">forum: <span class="article-md-font">{{ each[0].forum_id }}</span></div>
    <div class=""><span>{{ each[0].date_created.strftime('%m-%d-%Y') }}</span><span class="article-sm-font float-right">tweests({{ each[1] }})</span>
    </div>

  </article>
  {% endfor %}
  {% endif %}
  {% if filter=='forums' %}
  -->
<!--  <form method="POST">
    <label class="radio-inline">
      <input checked name="radio" onclick="this.form.submit()" type="radio" value="forums"/>Forums
    </label>

    <label class="radio-inline">
      <input name="radio" onclick="this.form.submit()" type="radio" value="articles"/>Articles
    </label>
  </form>
  {% for each in to_add %}
  <article class="content-section">
    <img class="rounded-circle article-img" src="#">
    <div class="sidebar_list_titles">
      <a href="#">{{ each[0] }}</a>
      <span class="text-muted ml-4 article-sm-font">{{ each[1] }}</span>
    </div>
    <div class="sidebar_list_titles">articles<span class="blue_text">({{ each[2] }})</span><span class="float-right">members<span
        class="blue_text">({{ each[3] }})</span></span></div>
  </article>

  {% endfor %}
  {% endif %}
  -->

