{% extends "layout-basic.html" %}
{% block main_content %}

<div>
  <hr>
    <h5>Tweestmasters is a place where writers can improve their skills in a collaborative
        and fun environment.</h5>
  <hr>
    <h1 class="pt-4">Getting Around:</h1>
    <article>
        <p>Tweestmasters uses forums to organize itself and is comprised of the main
            forum(Master) and other user-created forums.</p>

        <p>Each forum has a leader. And any tweester can start a group(public or private)
            and get friends and family and other users to participate in it. Public groups should
            have a theme(sports, fashion, nature, etc) making it easier for their group to be
            classified and thus found.</p>

        <p>Forums produce articles. Articles are nothing but guidance or inspiration for
            your tweests. And every article can be tweested.</p>

        <p> At the heart of Tweestmasters is the tweest. Tweests are tweested by users/forum
            members and in turn are reviewed by other users/members. Reviews contain a
            rating and a comment.</p>

        <p>The tweest is the product of your imagination. It can be fiction or not. The sole
            purpose is to entertain and to get better at writing by composing a short story
            based on the inspiration. Tweests can be 'reviewed' by other members. The 'review'
            consists of a rating and a comment feedback(hopefully helpful, witty, funny, etc).
        </p>
        <p>The home page contains a feature article that changes on occasion. This article
            is from the Master forum. You can tweest this article or look through past articles
            and user tweests/reviews. You can also change to other forums from the home page.</p>
    </article>

    <hr>
    <h2>Be nice, have fun, improve your writing chops. Oh and the tweest must be between
        250 and 10,000 words.
    </h2>
</div>

{% endblock %}
