{% extends "layout-basic.html" %}
{% block main_content %}
<h5 class="pt-2">It has been said that writing brings form to chaos.</h5>
<div class="p-2" style="background-color:#cccccc;">
    <p>Please note that I created this site as a student project. I will continue to
        finish this site out over the course of the year. Your participation on this site greatly
        enhances my ability to debug and add functionality. Thanks and enjoy!</p>
    <h3>Current Missing Functionality</h3>
    <ul>
        <li>Password reset-- it involves emailing a link and updating and it is next on the list.
            This means you can always sign in using your email and the password 'password' for now.</li>
        <li>adding age groups or more forums for younger tweesters.</li>
        <li>Review sorting</li>
        <li>Private forums</li>
        <li>Some form validation</li>
        <li>length restrictions</li>
    </ul>
</div>

<div class="text-center">
    <h5>Good writing is a step on the path of establishing a credible story or narrative and these
        days it seems there is an ever-growing emphasis on concise writing.</h5>
    <div class="m-4">
        <hr>
        <h5 class="m-4">Tweestmasters combines elements of Twitter and Toastmasters and serves as a
            place where writers can improve their skills in a collaborative
            and fun environment.</h5>
        <hr>
    </div>
</div>
<div>
    <h1 class="pt-4">Getting Around:</h1>
    <article>
        <p> At the heart of Tweestmasters is the tweest.
        </p>
        <p>Tweests are tweested by users and
            reviewed by other users. Reviews contain a rating and a comment.
        </p>
        <p>Tweestmasters uses forums to organize itself and is comprised of the main
            forum(called 'Master') and other user-created forums. Each forum has a leader
            and the leader creates articles for the forum. Forums can be public or private.
        </p>
        <p> Any user can start a forum and get friends and family and
            other users to participate in it. For example a teacher could start a private forum
            for their classroom. Public groups should perhaps have a theme
            (sports, fashion, nature, etc) making it easier for their group to be
            classified and thus found.
        </p>
        <h2>Important!</h2>
        <p>Forum articles are nothing but guidance or inspiration for the tweests and a
            tweest is the product of your imagination. It can be fiction or autobiographical or whatever.
            The sole purpose is to entertain and to get better at writing by composing a short
            story based on the inspiration. Tweests can be reviewed by other members. The review
            consists of a rating and a comment feedback(hopefully helpful, witty, funny, etc).
        </p>
        <p>The home page contains a feature article that changes on occasion. This article
            is from the Master forum. You can tweest in regards to this article or look through past
            articles and user tweests/reviews. You can also change to other forums from the home page.</p>
    </article>
    <hr>
    <h3>Be nice, have fun, improve your tweesting chops. Oh and the tweest must be between
        200 and 10,000 characters.
    </h3>
    <hr>
</div>
{% endblock %}
