{% extends "layout-3.html" %}
{% block main_content %}

<div>
<h1>The concept:</h1>
<p>A main article is produced to merely provide inspiration. From there users submit
  a response(a tweest). The tweest is the product of your imagination. It can be
  fiction or not. The sole purpose is to entertain and to get better at writing
  by composing a short story based on the inspiration. From there you get
  feedback from other users(hopefully helpful, witty,etc).
</p>
  <p>Be nice, have fun, improve your writing chops. Oh and the tweest must be between
  250 and 10,000 words.
  </p>
  <p>You can also form your own group(public or private) and get friends and family and
    other users to participate in it. Public groups should have a theme(sports, fashion,
    nature, etc) making it easier for their group to be classified and thus found. More
    details can be found when forming your group. But start with the main forum found
    on the <a href="/">Home Page.</a>
  </p>
  <p>It is hoped that this platform will useful in education situations.
  </p>
</div>
{% endblock %}
